
/* ==========================================================================
   GRID SYSTEM
   ==========================================================================
*/

.container {
  margin-left: auto;
  margin-right: auto;
  clear: both;
  width: 1140px;
  padding: 0 15px;
  height: 100%;
}

.row {
  width:100%;
  clear: both;
}

@for $i from 1 through 12{
  .col-lg-#{$i} {
    display:inline-block;
    vertical-align: top;
    padding: 0 15px;
    width: ($i / 12px) * 1140px - 33px;
  }
}
