@import "normalize";
@import "modern-business";
@import "grid";

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
body {
  font-size: 14px;
  line-height: 1.42;
  color: #333;
  font-family: $font-family;
  padding:0;
}

.navbar-inverse {
  background-color:#222;
  border-color:#080808;
}

.img-responsive{
  width:100%;
}

h3{
  color: rgb(51, 51, 51);
  font-size: 24px;
  font-weight: 500;
  height: 26px;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 360px;
}

h2{
color: rgb(51, 51, 51);
font-size: 30px;
font-weight: 500;
margin-bottom: 10px;
  margin-top: 20px;
height: 33px;
line-height: 33px;
}

.navbar-fixed-top{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

a{
  -webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
box-sizing: border-box;
color: rgb(66, 139, 202);
cursor: auto;
display: inline;
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 14px;
height: auto;
line-height: 20px;
text-decoration: none solid rgb(66, 139, 202);
width: auto;
}

.text-center{
  text-align: center;
}

footer{
  text-align: center;
}

