{% extends "layout.html" %}

{% block content %}
    <h1 class="page-header">EDIT A PAGE</h1>
    <form method="post" role="form" action="submit">
      <input type="hidden" name="oldUrl" value="{{url_name}}">
      <div class="form-group">
        <label>PAGE TITLE</label>
        <input type="text" name="title" class="form-control" value="{{title}}">
      </div>
      <div class="form-group">
        <label>PAGE CONTENT</label>
        <textarea name="text" rows="10" class="form-control">{{text}}</textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}